Meeting and Calendar Project.json
{
  "name": "Meeting and Calendar Project",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "zakeenkhann@gmail.com",
          "mode": "list",
          "cachedResultName": "zakeenkhann@gmail.com"
        },
        "triggerOn": "eventCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        64
      ],
      "id": "9fb75d8a-05f5-4871-a773-ce34c7c3e528",
      "name": "Google Calendar Trigger",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "EnG4NXqkuOTnBARb",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "path": "43091149-fabc-4872-b52c-eecac45c0738",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        -160
      ],
      "id": "80749e01-6d72-4380-a7ba-9a3b7c0c366d",
      "name": "Webhook",
      "webhookId": "43091149-fabc-4872-b52c-eecac45c0738"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        -352
      ],
      "id": "f8102735-54de-48fd-a930-dd5bd903d405",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        320
      ],
      "id": "af59c0f2-ba36-480d-bfff-a8fd9795f92e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "x3aq8mmQHRVg1KZD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.summary }}",
                    "rightValue": "Meeting",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "cdeb2510-ad06-4a71-a2d9-07be553b7644"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Meeting Event"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.summary }}",
                    "rightValue": "Reminder",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "e69f7ac3-f7a3-49ec-8edc-6d25b135890f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reminder Event"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.summary }}",
                    "rightValue": "Review",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "658da465-6bfb-487c-b625-27c2f1286a6f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Review Event"
            }
          ]
        },
        "options": {}
      },
      "id": "e4536c0e-2f97-4d57-8a47-c007df2bf8ec",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -80,
        -176
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "zakeenkhann@gmail.com",
          "mode": "list",
          "cachedResultName": "zakeenkhann@gmail.com"
        },
        "timeMin": "={{ $json.start.dateTime }}",
        "timeMax": "={{ $json.end.dateTime }}",
        "options": {}
      },
      "id": "4d320453-f9b6-44e0-8572-4d312ecf321b",
      "name": "Check Calendar Availability",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        224,
        -464
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "EnG4NXqkuOTnBARb",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "zakeenkhann@gmail.com",
          "mode": "list",
          "cachedResultName": "zakeenkhann@gmail.com"
        },
        "start": "={{ $('Route by Event Type').item.json.start.dateTime }}",
        "end": "={{ $('Route by Event Type').item.json.end.dateTime }}",
        "additionalFields": {
          "attendees": "={{ $('Route by Event Type').item.json.attendees?.map(a => a.email).join(\",\") }}",
          "description": "={{ $('Route by Event Type').item.json.description }}",
          "summary": "={{ $('Route by Event Type').item.json.summary }}"
        }
      },
      "id": "0e59445b-e550-48e2-955b-9ca2f8cc07ce",
      "name": "Create Meeting Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        496,
        -464
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "EnG4NXqkuOTnBARb",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Route by Event Type').item.json.attendees?.map(a => a.email).join(\",\") }}",
        "subject": "=Meeting Invitation: {{ $json.summary }}",
        "emailType": "text",
        "message": "=<h2>You are invited to: {{ $json.summary }}</h2><p><strong>Time:</strong> {{ $json.start.dateTime }} - {{ $json.end.dateTime }}</p><p><strong>Link:</strong> <a href=\"{{ $json.htmlLink }}\">Join Meeting</a></p>",
        "options": {}
      },
      "id": "3131f729-9fc5-464d-812d-d9d9b89ff5cc",
      "name": "Send Meeting Invitation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        800,
        -464
      ],
      "webhookId": "158a157b-bef4-4659-b2d5-f68e9e4cb484",
      "credentials": {
        "gmailOAuth2": {
          "id": "1kt3I7gZnCBZqwPY",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A7E2LJ7EZ",
          "mode": "list",
          "cachedResultName": "all-zakeen"
        },
        "text": "=📅 *New Meeting Created*\n*Title:* {{ $('Create Meeting Event').item.json.summary }}\n*Time:* {{ $('Create Meeting Event').item.json.start.dateTime }}\n*Link:* {{ $('Create Meeting Event').item.json.htmlLink }}",
        "otherOptions": {}
      },
      "id": "6832dd24-1a09-4ed7-8ad9-77893d261969",
      "name": "Notify Team on Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1024,
        -464
      ],
      "webhookId": "3bd443ff-5648-4669-982e-ad5d1e9ea190",
      "credentials": {
        "slackOAuth2Api": {
          "id": "Ou6ZaUcdo1HnBZLg",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "<__PLACEHOLDER_VALUE__Task ID to update__>",
        "updateFields": {
          "content": "=Meeting scheduled for {{ $('Create Meeting Event').item.json.start.dateTime }}",
          "name": "={{ $('Route by Event Type').item.json.summary }}",
          "status": "in progress"
        }
      },
      "id": "e5b61d37-4464-4056-9c5c-a5d8369d259d",
      "name": "Update ClickUp Task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1248,
        -208
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "hPIlGExGtzKwJpol",
          "name": "ClickUp OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "<__PLACEHOLDER_VALUE__Team ID__>",
        "space": "<__PLACEHOLDER_VALUE__Space ID__>",
        "folder": "<__PLACEHOLDER_VALUE__Folder ID__>",
        "list": "<__PLACEHOLDER_VALUE__List ID__>",
        "name": "=Action Item: {{ $('Route by Event Type').item.json.summary }}",
        "additionalFields": {
          "content": "=Follow up from meeting on {{ $('Create Meeting Event').item.json.start.dateTime }}",
          "priority": 3
        }
      },
      "id": "3ef004fa-b081-4e1c-b771-2de4a01c6744",
      "name": "Create Action Item Task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1472,
        -252
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "hPIlGExGtzKwJpol",
          "name": "ClickUp OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "channel",
        "operation": "replies",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0A7E2LJ7EZ"
        },
        "ts": "={{ $('Notify Team on Slack').item.json.ts }}",
        "filters": {}
      },
      "id": "f28b036c-e6ca-4854-a4f1-16bea8197eb1",
      "name": "Get Slack Thread Replies",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1696,
        -208
      ],
      "webhookId": "11e9e419-366a-4c75-b653-0d6a819be46d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "Ou6ZaUcdo1HnBZLg",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "goal",
        "operation": "update",
        "goal": "<__PLACEHOLDER_VALUE__Goal ID to update__>",
        "updateFields": {
          "name": "=Goal: {{ $('Route by Event Type').item.json.summary }}"
        }
      },
      "id": "7de02b27-1019-498d-a1ca-c787080a0ab5",
      "name": "Update Project Goal",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1472,
        -60
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "hPIlGExGtzKwJpol",
          "name": "ClickUp OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "zakeenkhann@gmail.com"
        },
        "start": "={{ $('Route by Event Type').item.json.start.dateTime }}",
        "end": "={{ $('Route by Event Type').item.json.end.dateTime }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "={{ $('Route by Event Type').item.json.description }}",
          "summary": "={{ $('Route by Event Type').item.json.summary }}"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "email",
              "minutes": 30
            },
            {
              "method": "popup",
              "minutes": 10
            }
          ]
        }
      },
      "id": "137e39f8-fa8e-4cc9-8aa0-2f73fb668210",
      "name": "Create Reminder Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        224,
        -208
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "EnG4NXqkuOTnBARb",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "reminderTitle",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "reminderTime",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "eventLink",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2b1e3e30-48ac-404c-ad23-b5c13b42b3d9",
      "name": "Format Reminder Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        -208
      ]
    },
    {
      "parameters": {
        "sendTo": "zakeenkhann@gmail.com",
        "subject": "=⏰ Reminder: {{ $('Format Reminder Data').item.json.reminderTitle }}",
        "message": "=<h2>Reminder</h2><p><strong>{{ $('Format Reminder Data').item.json.reminderTitle }}</strong></p><p>Scheduled for: {{ $('Format Reminder Data').item.json.reminderTime }}</p><p>Event ID: {{ $('Format Reminder Data').item.json.eventLink }}</p>",
        "options": {}
      },
      "id": "90ccde83-84f7-4ceb-b093-8ea12a9f3bd4",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        800,
        -208
      ],
      "webhookId": "dae167bc-d78c-4a5f-9ad4-b6106697747d",
      "credentials": {
        "gmailOAuth2": {
          "id": "1kt3I7gZnCBZqwPY",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A7E2LJ7EZ",
          "mode": "list",
          "cachedResultName": "all-zakeen"
        },
        "text": "=⏰ *Reminder*\n{{ $('Format Reminder Data').item.json.reminderTitle }}\n*Time:* {{ $('Format Reminder Data').item.json.reminderTime }}",
        "otherOptions": {}
      },
      "id": "078abd37-5395-4937-baa7-2be06d6f4660",
      "name": "Post Reminder to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1024,
        -208
      ],
      "webhookId": "effee85d-6a57-4f29-8558-28a0ebb7ac28",
      "credentials": {
        "slackOAuth2Api": {
          "id": "Ou6ZaUcdo1HnBZLg",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getTranscriptsList",
        "limit": 10,
        "filters": {}
      },
      "id": "013f7494-198c-422e-94d5-852f72d708b7",
      "name": "Fetch Meeting Transcripts",
      "type": "@firefliesai/n8n-nodes-fireflies.fireflies",
      "typeVersion": 1,
      "position": [
        224,
        88
      ],
      "credentials": {
        "firefliesApi": {
          "id": "KvNoCOc4DERYo8hB",
          "name": "Fireflies account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "029ac2ea-18c3-4f45-909e-6795b55b829b",
      "name": "Summarize Meeting Transcript",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        448,
        88
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "meetingSummary",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "transcriptTitle",
              "value": "={{ $('Fetch Meeting Transcripts').item.json.title }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "meetingDate",
              "value": "={{ $('Fetch Meeting Transcripts').item.json.date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "83d499ff-3485-4980-8860-0ab56a24c2c4",
      "name": "Format Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        88
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A7E2LJ7EZ",
          "mode": "list",
          "cachedResultName": "all-zakeen"
        },
        "text": "=📝 *Meeting Summary*\n*{{ $json.transcriptTitle }}* ({{ $json.meetingDate }})\n\n{{ $json.meetingSummary }}",
        "otherOptions": {}
      },
      "id": "3f93540d-b558-4481-9aec-46755aec0db3",
      "name": "Post Meeting Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1024,
        88
      ],
      "webhookId": "9ee44378-bc94-4b84-9027-d44fc0ef4a36",
      "credentials": {
        "slackOAuth2Api": {
          "id": "Ou6ZaUcdo1HnBZLg",
          "name": "Slack OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Trigger": {
      "main": [
        [
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Meeting Transcript",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type": {
      "main": [
        [
          {
            "node": "Check Calendar Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Reminder Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Meeting Transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Availability": {
      "main": [
        [
          {
            "node": "Create Meeting Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Meeting Event": {
      "main": [
        [
          {
            "node": "Send Meeting Invitation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Meeting Invitation": {
      "main": [
        [
          {
            "node": "Notify Team on Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Team on Slack": {
      "main": [
        [
          {
            "node": "Update ClickUp Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update ClickUp Task": {
      "main": [
        [
          {
            "node": "Create Action Item Task",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Project Goal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Action Item Task": {
      "main": [
        [
          {
            "node": "Get Slack Thread Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Project Goal": {
      "main": [
        [
          {
            "node": "Get Slack Thread Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Reminder Event": {
      "main": [
        [
          {
            "node": "Format Reminder Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reminder Data": {
      "main": [
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder Email": {
      "main": [
        [
          {
            "node": "Post Reminder to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Reminder to Slack": {
      "main": [
        [
          {
            "node": "Update ClickUp Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Meeting Transcripts": {
      "main": [
        [
          {
            "node": "Summarize Meeting Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Meeting Transcript": {
      "main": [
        [
          {
            "node": "Format Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Summary": {
      "main": [
        [
          {
            "node": "Post Meeting Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Meeting Summary": {
      "main": [
        [
          {
            "node": "Update ClickUp Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "81863ce8-6929-4bd7-b124-59917e64f276",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b629830bc772f117b1acaaef9aa92465584eb95cb37aed0d32450ad62fc250f0"
  },
  "id": "vQShy40YtSZIzSPb",
  "tags": []
}